{% extends "polls/base.html" %}
{% load static %}
{% block content %}
<div class='container' id='na'>
	<div class='col-sm-12 col-xs-12' id='na'>
		<div class='row' id='na'>
      <h1>About Personality Research Surveys</h1>
    </div>
    <div class='row' id='na'>
      <p>Hello, this webapp was created by Daniel Cook and Richard Wundrack. You can find us on the internet @</p>
    </div>
    <div class='row' id='na'>
      <p>
        <a href="https://www.danjcook.com">Daniel Cook homepage</a>
      </p>
    </div>
		<div class='row' id='na'>
      <p>
        <a href="https://www.psychologie.hu-berlin.de/de/personal/91680436">Richard Wundrack homepage</a>
      </p>
    </div>

  </div>
</div>
{% endblock %}
