{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.css' %}">
<div class='container' id='na'>
	<div class='col-sm-12 col-xs-12' id='na'>
		<div class='row' id='na'>
      <h1>My simple polls app</h1>
    </div>
    <div class='row' id='na'>
      <h2>Questions</h2>
    </div>
{% if latest_question_list %}
    {% for question in latest_question_list %}
      <div class='row' id='na'>
        <p>
          <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        </p>
      </div>
	  {% endfor %}
{% else %}
  <div class='row' id='na'>
    <p>No polls are available.</p>
  </div>
{% endif %}
